@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply leading-[150%] text-white;
  }
  *:not(h1, h2, h3, h4, h5, h6, button) {
    font-family: "Inter", sans-serif;
  }
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Bebas Neue", sans-serif;
    @apply tracking-wide;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  .bebas-neue-font{
    font-family: "Bebas Neue", sans-serif;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-700 rounded-full
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
